*{
    display: block;
    text-align: center;
}
employee
{
background-color: #000000;
width: 100%;

}

name
{
color: antiquewhite;
margin-bottom: 30pt;
margin-left: 0pt;
}

phone,address
{
color: antiquewhite;

font-size: 20pt;
}
email{
    color: antiquewhite;

font-size: 20pt;
}

employees{
    background-color: #000000;
    margin-top:15%;
}