.header{
    text-align: center;
    background-color: darkgray;
    width: 90%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px darkgray;
}

.comp{
    border: 1px solid black;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comp input{
    /* margin: auto; */
    text-align: center;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
}

.studentItem{
    background-color: violet;
    text-align: center;
    margin: 5px;
}

.active{
    color: red;
}

NavLink{
    color: beige;
}

.navlink{
    color: black;
}