<h1>Students</h1>

ID:
<input type=" text " [(ngModel)]="newStudent.id"> Name:
<input type="text " [(ngModel)]="newStudent.name"> Age:
<input type="text " [(ngModel)]="newStudent.age"> Department No:
<input type="text " [(ngModel)]="newStudent.deptno">
<button (click)="addNewStudent()" class="btn btn-success">Add</button>

<div *ngIf="student.name!='hiddenDiv'">
    ID:
    <input type=" text " [(ngModel)]="student.id"> Name:
    <input type="text " [(ngModel)]="student.name"> Age:
    <input type="text " [(ngModel)]="student.age"> Department No:
    <input type="text " [(ngModel)]="student.deptno">
    <button (click)="editStudent(student.id)" class="btn btn-warning">Edit</button>
</div>

<table class=" table table-bordered table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Department No.</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students; let i=index ">
            <td>{{i+1}}</td>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.deptno}}</td>
            <td>
                <button class="btn btn-info" (click)="showStudent(student.id)">View</button>
                <button class="btn btn-primary" (click)="editDivRender(student.id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="viewStudent.name!='hiddenDiv'">
    ID: {{viewStudent.id}}
    <br /> Name: {{viewStudent.name}}
    <br /> Age: {{viewStudent.age}}
    <br /> Department No.: {{viewStudent.deptno}}
</div>