<% if form.object.errors.any? %>
  <div class="alert alert-danger col-8">
    <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>