* {
    display: block;
    text-align: center;
    margin: 10px;
  }
  
  library {
    font-size: 50px;
    color: black;
  }
  
  author {
    font-size: 40px;
    color: blue;
  }
  
  preface {
    font-size: 30px;
    color:blueviolet;
  }
  
  section {
    font-size: 20px;
    color:brown;
  }